# Ignore environment and secret files
.env
.env.local

# Python dependencies
__pycache__/
*.pyc
*.pyo

# Virtual environment
my_env/
.venv/

# OS-specific files
.DS_Store

# Ignore Vercel deployment files
.vercel/
.cache/
